{% extends "QQiRecordappBundle::layout.html.twig" %}

{% block title %}Acerca de{% endblock %} 

{% block body %}

	<!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      	<h2>Acerca de</h2>
    </div>

    <div class="row">

    	<div class="span4">
          <h2>QQi Web</h2>
          <p>Daniel Maldonado</p>
        </div>

        <div class="span8">
        	<p>Texto e información.</p>
        </div>
    </div><!--/row-->

{% endblock %}
