{% extends "QQiRecordappBundle::layout.html.twig" %}

{% block title %}Acerca de{% endblock %} 

{% block body %}

	<!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      	<h2>Acerca de</h2>
    </div>

    <div class="row">

    	<div class="span4">
          
        </div>

        <div class="span8">
          <h2>RecordApp</h2>
        	<p>Es una aplicación para mantener organizada todas las <strong>#Tareas</strong> que se ejecutamos a diario y muchas veces NO recordamos.</p>
          <p>Además RecordApp nos permite almacenar <strong>#Enlaces</strong> en forma de Marcadores para visitar y complementar nuestra información.</p>
        </div>
    </div><!--/row-->

{% endblock %}
