{% extends "QQiRecordappBundle::layout.html.twig" %}

{% block title %}Ayuda{% endblock %} 

{% block body %}

	<!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      	<h2>Ayuda</h2>
    </div>

    <div class="row">

    	<div class="span4">
          <h2>RecordApp</h2>
        </div>

        <div class="span8">
        	<p>Ing. Daniel Maldonado - dmaldonado@jujuy.gov.ar</p>
        </div>
    </div><!--/row-->

{% endblock %}
