{% extends "QQiRecordappBundle::layout.html.twig" %}

{% block title %}Contacto{% endblock %} 

{% block body %}

	<!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      	<h2>Contacto</h2>
    </div>

    <div class="row">

    	<div class="span4">
          <h2>QQi Web</h2>
          <p>Daniel Maldonado</p>
        </div>

        <div class="span8">
        	<p>dmaldonado@jujuy.gov.ar</p>
          <p>jmbarrios@jujuy.gov.ar</p>
          <p>ccatacata@jujuy.gov.ar</p>
        </div>
    </div><!--/row-->

{% endblock %}
