<div class="row-fluid">
	<div class="span3">
  <div class="utopia-chart-legend">
	<div class="utopia-chart-icon">
	  <img src="{{ asset('bundles/qqirecordapp/img/icons2/pictures_folder.png') }}" />
	</div>
	<div class="utopia-chart-heading">191</div>
	<div class="utopia-chart-desc">TAREAS</div>
  </div>
</div>

<div class="span3">
  <div class="utopia-chart-legend">
	<div class="utopia-chart-icon">
	  <img src="{{ asset('bundles/qqirecordapp/img/icons2/link.png') }}" />
	</div>
	<div class="utopia-chart-heading">10894</div>
	<div class="utopia-chart-desc">ENLACES</div>
  </div>
</div>

<div class="span3">
  <div class="utopia-chart-legend">
	<div class="utopia-chart-icon">
	  <img src="{{ asset('bundles/qqirecordapp/img/icons2/clock.png') }}" />
	</div>
	<div class="utopia-chart-heading">2191</div>
	<div class="utopia-chart-desc">XXXXXX</div>
  </div>
</div>

<div class="span3">
  <div class="utopia-chart-legend">
	<div class="utopia-chart-icon">
	  <img src="{{ asset('bundles/qqirecordapp/img/icons2/download2.png') }}" />
	</div>
	<div class="utopia-chart-heading">33214</div>
	<div class="utopia-chart-desc">XXXXXX</div>
  </div>
</div>
	</div>